@page
@model IndexModel
@{

    ViewData["Title"] = "Perfil";
}

@{

    var urlImage = "";
    if (User.Identity.IsAuthenticated)
    {
        urlImage = "~/images/user/" + @User.FindFirst("ImagemPerfil").Value;
    }
    else
    {
        urlImage = "~/images/user/user.jpg";
    }
}  <form id="profile-form" method="post" enctype="multipart/form-data">
    
    <div class="row">
        
        <div class="col-lg-4 col-md-5">
            <Label>@ViewData["Title"]</Label>
            <div class="row h-100 w-100  position-absolute">
                <div class="col-md-12 text-center h-50 w-100">
                    <img id="FotoPerfil" class="img-thumbnail w-100 h-100 " src="@Url.Content(urlImage)" />
                    <input type="file" name="file" style="opacity:0.0;"/>
                </div>
            </div>
            <div id="DivAlterarFoto"  class="col-md-12 text-center text-white h-50 w-100 p-0 font-weight-bold">
                <span class="fa fa-camera" style="margin-top:25%"></span>
                <p>Alterar Foto</p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Input.Theme"></label>
                        <select asp-for="Input.Theme" class="form-control">
                            <option>Escuro</option>
                            <option>Claro</option>
                            <option>Azul</option>
                        </select>
                    </div>
                    <a href="#" onclick="Logout()"> Sair da Conta</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-lg-7">

            <div class="form-group">
                <label asp-for="Input.Cpf"></label>
                <input asp-for="Input.Cpf" class="form-control" />
                <span asp-validation-for="Input.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Gender"></label>
                <select asp-for="Input.Gender" class="form-control">
                    <option>M</option>
                    <option>F</option>
                </select>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                
            </div>

            <button type="submit" class="btn btn-outline-success w-25">Salvar Alterações</button>

        </div>

    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
