
@model User
@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Monitoria - Criar usuário";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-3 shadow h-100">
                <div class="card-header">
                    <h5 class="card-title">Usuário único</h5>
                </div>
                <div class="card-body">
                    <form method="post">

                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="Cpf"></label>
                                <input asp-for="Cpf" class="form-control" />
                                <span asp-validation-for="Cpf" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="UserName"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="col-md-8">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Gender"></label>
                                <Select asp-for="Gender" class="form-control">
                                    <option value="">Selecione</option>
                                    <option>M</option>
                                    <option>F</option>
                                </Select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="col-md-12 container-login100-form-btn mt-3">
                                <button type="submit" class="btn btn-sm btn-outline-success w-100">Confirmar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card mt-3 shadow h-100">
                <div class="card-header">
                    <h5 class="card-title">Cadastro em lote </h5>  
                </div>
                <div class="card-body h-100">
                    
                    <form method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="float-right" href="#" download="planilha_padrao.csv"><i class="fa fa-download"></i> Planilha padrão</a>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Escolha o arquivo</label>
                                </div>
                            </div>
                            <div class="col-md-12 container-login100-form-btn mt-3">
                                <button type="submit" class="btn  btn-outline-success w-100">Confirmar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
