@page
@model ForgotPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Monitoria - Esqueceu a senha";
}
<title>@ViewData["Title"]</title>


<environment include="Development">
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/estilo.css?version=12" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/estilo.min.css?version=12" />
</environment>
<div class="row">
    <div class="col-md-12 p-0">
        @(Html.Raw(TempData["StatusMessage"]))
    </div>
</div>
<div class="container-login100">
    <div class="wrap-login100">
        <form method="post" class="login100-form">

            <span class="login100-form-title p-b-48 p-0">
                <img src="~/Images/icon.png" class="img-fluid" style="width:80%" />
            </span>
           
            <div class="wrap-input100 m-b-23">
                <input asp-for="Input.Cpf" class="input100" />
                <span class="focus-input100-cpf" data-placeholder="CPF"></span>
            </div>
            <span asp-validation-for="Input.Cpf" class="text-danger"></span>
            <div class="wrap-input100 m-b-23">

                <input asp-for="Input.UserName" class="input100" />
                <span class="focus-input100-login" data-placeholder="Login"></span>
            </div>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
            <div class="wrap-input100 m-b-23">
                <span class="btn-show-pass">
                    <i class="fa fa-eye"></i>
                </span>
                <input asp-for="Input.Password" class="input100" />
                <span class="focus-input100-senha" data-placeholder="Senha"></span>
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <div class="wrap-input100 m-b-23">
                <span class="btn-show-pass">
                    <i class="fa fa-eye"></i>
                </span>
                <input asp-for="Input.ConfirmPassword" class="input100" />
                <span class="focus-input100-senha" data-placeholder="Confirma Senha"></span>
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            <div class="container-login100-form-btn p-b-3">

                <input type="submit" value="Atualizar senha" class="btn btn-outline-secondary w-100" />

            </div>
            <div class="text-center p-t-50">
                <span class="text-muted d-block">
                    Já possui uma conta?
                </span>
                <a class="text-primary" asp-page="./Login">Realizar login</a>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>


        </form>
    </div>
</div>
<environment include="Development">
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
<script src="~/lib/font-awesome/js/all.js"></script>
<script src="~/js/main.js?version=12"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/main.js?version=12"></script>
</environment>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
