@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Monitoria - Registrar";
}

<title>@ViewData["Title"]</title>

<environment include="Development">
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/estilo.css?version=12" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/estilo.min.css?version=12" />
</environment>
<div class="container-login100">
    <div class="wrap-login100 w-50">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="row">
                <div class="col-md-6">
                    <span class="login100-form-title p-b-48 p-0">
                        <img src="~/Images/icon.png" class="img-fluid" style="width:50%" />
                    </span>
                    <div class="col-md-12 text-center p-t-50">
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa.
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et,
                            sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing."
                        </p>
                    </div>

                    <div class="col-md-12 text-center p-t-50">

                        <span class="text-muted d-block">
                            Já possui uma conta?
                        </span>

                        <a class="text-primary" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Entre com seu login e senha</a>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="Input.Cpf"></label>
                            <input asp-for="Input.Cpf" class="form-control form-control-sm" />
                            <span asp-validation-for="Input.Cpf" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Input.UserName"></label>
                            <input asp-for="Input.UserName" class="form-control form-control-sm" />
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Input.Name"></label>
                            <input asp-for="Input.Name" class="form-control form-control-sm" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Input.Gender"></label>
                            <Select asp-for="Input.Gender" class="form-control form-control-sm">
                                <option value="">Selecione</option>
                                <option>M</option>
                                <option>F</option>
                            </Select>
                            <span asp-validation-for="Input.Gender" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control form-control-sm" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control form-control-sm" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control form-control-sm" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 container-login100-form-btn p-b-3">
                            <button type="submit" class="btn btn-sm btn-outline-secondary w-100">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/js/main.js?version=12"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/main.js?version=12"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</environment>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
