@using Microsoft.AspNetCore.Identity
@using MonitoriaAspCore.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var urlImage = "~/images/user/" + @User.Claims.FirstOrDefault(c => c.Type == "urlImage").Value;
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-bell"></i><span class="badge badge-pill badge-danger" style="position:relative;left:-4px;top:-10px">1</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-envelope"></i></a></li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <img class=" rounded-circle m-0" width="30" height="30" style="background-size:100%" src="@Url.Content(urlImage)" alt="User picture">
                    @*@User.FindFirst("Nome").Value*@

                </a>
                <div class="dropdown-menu float-left">
                    <a class="dropdown-item border-bottom" asp-area="Identity" asp-page="/Account/Manage/Index" title="Meu perfil"><i class="fa fa-user"></i> Meu perfil</a>

                    <a class="dropdown-item" href="#" onclick="Logout()"><i class="fa fa-sign-out-alt"></i> Sair</a>
                </div>
            </li>
        </ul>
    </form>

    <form id="LogoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
          asp-route-returnUrl="@Url.Page("/", new { area = "" })"
          method="post">
    </form>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}