/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body, html {
    height: 100%;
    padding: 0;
    background-color:white!important
}

#DivAlterarFoto:hover {
    background-color: lightgray;
    opacity: 0.7;
    cursor: pointer
}

#DivAlterarFoto p, #DivAlterarFoto span, #DivAlterarFoto svg {
    color: transparent;
    fill:transparent
}

#DivAlterarFoto:hover p, #DivAlterarFoto:hover span, #DivAlterarFoto:hover svg {
    color: black;
    fill: black
}

.p-35 {
    padding-top: 35% !important;
}
.btn:focus {
    outline: 0!important;
    outline: none!important;
    box-shadow:none!important
}